<launch>
    <arg name="joint_names" default="[joint1 ,joint2 ,joint3]"/>
    <arg name="file_name"   default="$(find robot_teacher)/poses/my_poses.yaml"/>
    <arg name="max_velocity" default="0.1"/>
    
    <node name="move_teached" type="pose_teacher_node.py" pkg="robot_teacher" cwd="node" output="screen">
        <rosparam param="arm_joint_names" subst_value="true">$(arg joint_names)</rosparam>
        <param name="max_joint_velocity" value="$(arg max_velocity)"/>
    </node>

</launch>