<launch>
    <!-- Basic launch file for one robot in the match_world_common map-->
  
    <include file="$(find match_gazebo)/launch/scale.launch">
    </include>
  
    <arg name="robot1_name"  default="mur620a"/>
    <arg name="robot2_name"  default="mur620b"/>
    <arg name="robot3_name"  default="mur620c"/>
    <arg name="robot4_name"  default="mur620d"/>
    <arg name="node_start_delay" default="5.0" doc="used to delay nodes that should not start right away"/>

    
    <!-- spawn robots   -->

    <include file="$(find mir_launch_sim)/launch/mir_600.launch" ns="$(arg robot1_name)">
        <arg name="robot_x"     default="40.3" />
        <arg name="robot_y"     default="40.5" />
        <arg name="robot_yaw"   default="0.0" /> 
        <arg name="tf_prefix"   default="$(arg robot1_name)" />  
        <arg name="model_name" value="$(arg robot1_name)"/>     
    </include>

      
    <include file="$(find mir_launch_sim)/launch/mir_600.launch" ns="$(arg robot2_name)">
        <arg name="robot_x"     default="40.3" />
        <arg name="robot_y"     default="42.0" />
        <arg name="robot_yaw"   default="0.0" /> 
        <arg name="tf_prefix"   default="$(arg robot2_name)" />
        <arg name="model_name" value="$(arg robot2_name)"/>         
    </include> 
    
    <include file="$(find mir_launch_sim)/launch/mir_600.launch" ns="$(arg robot3_name)">
        <arg name="robot_x"     default="40.3" />
        <arg name="robot_y"     default="43.5" />
        <arg name="robot_yaw"   default="0.0 " /> 
        <arg name="tf_prefix"   default="$(arg robot3_name)" /> 
        <arg name="model_name" value="$(arg robot3_name)"/>        
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 mur620a/base_link Folgeroboter_1" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher2" args="0 0 0 0 0 0 mur620b/base_link Leitroboter" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher3" args="0 0 0 0 0 0 mur620c/base_link Folgeroboter_2" />


    <!-- launch virtual object -->
    <include file="$(find virtual_leader)/launch/virtual_leader.launch" />

    <node type="rviz" name="rviz_handling" pkg="rviz" args="-d $(find mir_examples)/rviz/object_transport.rviz" /> 

  </launch>