<launch>
    <arg name="paused" default="false"/>
    <arg name="world_name" default="cafe"/>
    <arg name="use_map_sim" default="true"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="true"/>
        <arg name="world_name" value="worlds/$(arg world_name).world"/>
    </include>

    <node if="$(arg use_map_sim)" name="static_map_server" pkg="map_server" type="map_server" args="$(find match_gazebo)/maps/$(arg world_name).yaml" output="screen">
        <param name="frame_id" type="string" value="map"/>
    </node>
    
</launch>