<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

	<!-- MiR200 base -->
	<!-- <xacro:include filename="$(find mir_description)/urdf/mir_200/mir_200.urdf.xacro" /> -->
	<!-- <xacro:include filename="$(find mir_description)/urdf/mir_200/mir_200.gazebo.xacro" /> -->

	<!-- <xacro:mir_200 tf_prefix=""/> -->
	<!-- <xacro:mir_200_gazebo tf_prefix=""/> -->

	

	<xacro:macro name="mir_200">
		<link name="base_footprint" />
	</xacro:macro>	
</robot>
