[submodule "ur_hardware_helper/ur_ros_driver"]
	path = ur/ur_ros_driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "ur_hardware_helper/ur_robot"]
	path = ur/ur_robot
	url = https://github.com/fmauch/universal_robot.git
	branch = calibration_devel
[submodule "general_hardware_helper/cartesian_controllers"]
	path = general_hardware_helper/cartesian_controllers
	url = https://github.com/fzi-forschungszentrum-informatik/cartesian_controllers
[submodule "panda_hardware_helper/franka_ros"]
	path = panda/franka_ros
	url = https://github.com/frankaemika/franka_ros.git
	branch = melodic-devel
[submodule "panda_hardware_helper/panda_moveit_config"]
	path = panda/panda_moveit_config
	url = https://github.com/ros-planning/panda_moveit_config.git
	branch = melodic-devel
[submodule "mir/mir_submodules/realsense_gazebo_plugin"]
	path = mir/mir_submodules/realsense_gazebo_plugin
	url = https://github.com/pal-robotics/realsense_gazebo_plugin.git
	branch = melodic-devel
[submodule "panda/franka_panda_description"]
	path = panda/franka_panda_description
	url = https://github.com/justagist/franka_panda_description.git
[submodule "scout_mini/src/rplidar_ros"]
	path = scout_mini/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "scout_mini/src/scout_ros"]
	path = scout_mini/src/scout_ros
	url = https://github.com/agilexrobotics/scout_ros
