<launch>
    <!-- Launch the driver for the ps4 controller and publish data to "ps4_input" topic -->
    
    <arg name="config_file_path"  default="/config/time_sync_client.conf"/>

    <node name="time_sync_client" pkg="network_time_sync" type="ckphaselock.py" output="screen">
        <param name="config_file_path" value="$(find network_time_sync)$(arg config_file_path)"/>
    </node>


</launch>