<launch>
    <arg name="ur_version" default="ur10e"/>
    <arg name="kinematics_config" default="$(find ur_launch_hardware)/config/calibration.yaml"/>
    <arg name="moveit_config_pkg" default="$(arg ur_version)_moveit_config"/>
    <arg name="controllers" default="joint_state_controller"/>
    <arg name="stopped_controllers" default="joint_state_controller"/>
    <arg name="controller_config_file" default="$(find ur_launch_hardware)/config/ur10e_controllers.yaml" />
    <arg name="UR_prefix" default="UR10_"/>
    <arg name="robot_ip" default="ur"/>
    <arg name="reverse_port" default="50001"/>  
    <arg name="script_sender_port" default="50002"/> 
    <arg name="trajectory_port" default="50003"/> 
    <arg name="script_command_port" default="50004"/> 

    <!-- Interface for gripper abstraction -->
    <node name="gripper_interface" type="grip_service_interface.py" pkg="ur_launch_hardware"/>

    <!-- Bringup the ur driver within proper namespaces -->
    <!-- <remap from="/robot_description" to="robot_description"/> -->
    <rosparam file="$(find ur_launch_hardware)/config/controllers.yaml" command="load" subst_value="true"/>
    <include file="$(find ur_robot_driver)/launch/$(arg ur_version)_bringup.launch" pass_all_args="true">
        <arg name="controllers" value="joint_state_controller"/>
        <arg name="stopped_controllers" value="position_joint_controller"/>      
        <!-- <arg name="kinematics_config" value="$(arg kinematics_config)"/> -->
        <arg name="robot_ip" value="$(arg robot_ip)"/>    
        <arg name="reverse_port" value="$(arg reverse_port)"/>  
        <arg name="script_sender_port" value="$(arg script_sender_port)"/>  
        <arg name="trajectory_port" value="$(arg trajectory_port)"/>  
        <arg name="script_command_port" value="$(arg script_command_port)"/>
        <!-- <arg name="controller_config_file" value="$(arg controller_config_file)"/> -->

        <!-- For ur_hardware_interface: -->
        <arg name="tf_prefix" value="$(arg UR_prefix)"/>
    </include>

    <!-- <include file="$(eval find(moveit_config_pkg)+'/launch/move_group.launch')"/> -->

    <include file="$(find ur_calibrated_pose_pub)/launch/ur_calibrated_pose_pub.launch" pass_all_args="false">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="ur_joint_state_topic_name" value="/$(arg UR_prefix)/joint_states"/>
    </include>

    <!-- limit twist commands -->
    <node name="ur_twist_limiter" type="ur_twist_limiter.py" pkg="ur_launch_hardware">
        <param name="input_command_topic" value="/$(arg UR_prefix)/twist_controller/command_safe"/>
        <param name="output_command_topic" value="/$(arg UR_prefix)/twist_controller/command"/>
        <param name="max_linear_speed" value="0.1"/>
        <param name="max_linear_acceleration" value="0.1"/>
    </node>

</launch>