<launch>
    <arg name="namespace" default=""/>

    <node if="$(eval arg('namespace')=='')" pkg="ur_launch_hardware" type="enable_ur.py" name="enable_ur" output="screen" />

    <node unless="$(eval arg('namespace')=='')" pkg="ur_launch_hardware" type="enable_ur.py" name="enable_ur" output="screen" ns="$(arg namespace)"/>

</launch>