<launch>
    <arg name="tf_prefix" default=""/>


    <!-- Bringup the enabeling procdeure for the ur -->
    <node pkg="ur_launch_hardware" type="enable_ur.py" name="enable_ur" output="screen" />
     
    <!-- Interface for gripper abstraction -->
    <node name="gripper_interface" type="grip_service_interface.py" pkg="ur_launch_hardware"/>

    <!-- Bringup the ur driver within proper namespaces -->
    <remap from="/robot_description" to="robot_description"/>
    <rosparam file="$(find ur_launch_hardware)/config/controllers.yaml" command="load" subst_value="true"/>
    <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch" pass_all_args="true">
        <arg name="controllers" value="joint_state_controller"/>
        <arg name="stopped_controllers" value="position_joint_controller"/>      
        <arg name="kinematics_config" value="$(find ur_launch_hardware)/config/calibration.yaml"/>
        <arg name="robot_ip" value="ur"/>        
    </include>

</launch>