    <launch>

        <arg name="tf_prefix" default="mur620a"/>
        <arg name="UR_prefix" default="UR10_l/"/>


        <node name="ur_twist_limiter" type="ur_twist_limiter.py" pkg="ur_launch_hardware" output="screen">
            <param name="input_command_topic" value="/$(arg tf_prefix)/$(arg UR_prefix)twist_controller/command_collision_free"/>
            <param name="output_command_topic" value="/$(arg tf_prefix)/$(arg UR_prefix)twist_controller/controller_input"/>
            <param name="max_linear_speed" value="0.1"/>
            <param name="max_linear_acceleration" value="0.1"/>
        </node>
    </launch>