<launch>
    <arg name="use_mir_amcl"    default="false"/>
    <arg name="use_ros_amcl"    default="false"/>
    <arg name="tf_prefix"       default="" doc="TF prefix to use for all of MiR's TF frames"/>
    <arg name="mir_hostname"    default="192.168.12.20" />
    <arg name="disable_map"     default="false" doc="Disable the map topic and map -> odom_comb TF transform from the MiR" />
  
    <!-- URDF -->
    <include file="$(find mir_description)/launch/upload_mir_urdf.launch"/>


    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="tf_prefix" value="$(arg tf_prefix)"/>
    </node>
    
    <node name="fake_mir_joint_publisher" pkg="mir_driver" type="fake_mir_joint_publisher.py" output="screen"/>


    <node name="mir_bridge" pkg="mir_driver" type="mir_bridge.py" output="screen">
        <param name="hostname" value="$(arg mir_hostname)" />
        <remap from="map" to="/map" />
        <remap from="map_metadata" to="/map_metadata" />
        <remap from="rosout" to="/rosout" />
        <remap from="rosout_agg" to="/rosout_agg" />
        <remap from="tf" to="/tf_mir" />
    </node>
 
    <node name="b_rep117_laser_filter" pkg="mir_driver" type="rep117_filter.py" output="screen">
        <param name="tf_prefix" value="$(arg tf_prefix)"/>
        <remap from="scan" to="b_scan" />
        <remap from="scan_filtered" to="b_scan_rep117" />
    </node>

    <node name="f_rep117_laser_filter" pkg="mir_driver" type="rep117_filter.py" output="screen">
        <param name="tf_prefix" value="$(arg tf_prefix)"/>
        <remap from="scan" to="f_scan" />
        <remap from="scan_filtered" to="f_scan_rep117" />
    </node>


    <!-- Use the ros amcl implementation -->
    <include if="$(arg use_mir_amcl)" file="$(find mir_hardware_helper)/launch/mir_amcl.launch">
        <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    </include>

    <!-- Use the mir internal amcl implementation -->
    <include if="$(arg use_ros_amcl)" file="$(find mir_hardware_helper)/launch/ros_amcl.launch">
        <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    </include>

</launch>
