<launch>
    <arg name="namespace" default=""/>
    
    <node if="$(eval namespace=='')" respawn="true" pkg="joy" type="joy_node"  name="ps4_joy">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.12"/>
        <param name="coalesce_interval" value="0.001"/>
    </node>
  
    <node unless="$(eval namespace=='')" respawn="true" pkg="joy" type="joy_node"  name="ps4_joy" ns="$(arg namespace)">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.12"/>
        <param name="coalesce_interval" value="0.001"/>
    </node>
  

</launch>