<launch>
    <!-- Defining arguments for the panda launch -->
    <arg name="controllers_started" default="joint_state_controller force_torque_sensor_controller"/>
    <arg name="controllers_stopped" default="force_torque_sensor_controller"/>  <!--Must not be empty-->
    <arg name="tf_prefix" default="mur"/>
    <arg name="move_base" default="false"/>

    <node name="gripper_interface" type="grip_service_interface.py" pkg="mur_hardware_helper" ns="mur/ur"/>


    <!-- Bringup the ur -->
    <!-- Fixing missing tf_prefix forwarding to the ur packages -->
    <param name="mur/ur/robot_state_publisher/tf_prefix" value="$(arg tf_prefix)/ur"/> 

    <include file="$(find ur_launcher)/launch/ur.launch" ns="mur/ur" pass_all_args="true">
        <arg name="tf_prefix" value="$(arg tf_prefix)/ur/"/>
    </include>
   

    <!-- Add a Transformation from Mir to panda for closed tf tree -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="mir_ur_transformer" 
        args="0.35 -0.15 0.35 0 0 1 0 $(arg tf_prefix)/mir/base_link $(arg tf_prefix)/ur/world" ns="mur" />
    

    <include unless="$(eval move_base)"  file="$(find mir_launcher)/launch/mir.launch" ns="mur/mir">
        <arg name="tf_prefix" value="$(arg tf_prefix)/mir"/>       
    </include>

    <include if="$(eval move_base)"  file="$(find mir_launcher)/launch/mir_move_base.launch" ns="mur/mir">
        <arg name="tf_prefix" value="$(arg tf_prefix)/mir"/>       
    </include>

</launch>