<launch>
    
    <include file="$(find mir_launcher)/launch/mir.launch" ns="mur/mir">
        <arg name="tf_prefix" value="mur/mir"/>
        <arg name="move_base" value="true"/>
    </include>

    <!-- Launch the formation slave controller -->
    <include file="$(find multi_robot_controller)/launch/slave.launch" ns="mur/mir">
        <arg name="config_file" value="$(find transport_launcher)/config/mur_slave_behind.yaml"/>
    </include>

</launch>