<launch>
    
    <arg name="poses_file_name" default="my_poses.yaml"/>

    <include file="$(find mur_hardware_helper)/launch/mur_joint_trajectory.launch"/>

    <node name="pose_teacher" type="joint_state_saver_node.py" pkg="robot_teacher" output="screen" ns="mur/ur">
        <param name="file_name" value="/home/rosmatch/poses/$(arg poses_file_name)"/>
    </node>
</launch>