<launch>
  <!--
    MVP "stampa 3D" path tracking:
    - launches the existing single-arm Cartesian velocity controller
    - publishes constant-speed TCP setpoints from a simple YAML/CSV path

    Example:
      roslaunch cartesian_velocity_controller mur620_print_path_mvp.launch arm:=right mur_ns:=mur620b path_frame:=map
  -->

  <arg name="arm" default="right" />
  <arg name="mur_ns" default="mur620b" />
  <arg name="path_file" default="$(find cartesian_velocity_controller)/config/print_path_demo.yaml" />
  <arg name="path_frame" default="mur620b/base_link" />
  <arg name="speed" default="0.10" />
  <arg name="rate" default="20.0" />
  <arg name="blend_tolerance" default="0.04" />
  <arg name="max_linear_velocity" default="$(arg speed)" />
  <arg name="max_linear_acceleration" default="0.25" />
  <arg name="max_linear_jerk" default="2.0" />
  <arg name="publish_target_pose" default="false" />
  <arg name="loop" default="false" />
  <arg name="start_paused" default="true" />
  <arg name="base_control_enabled" default="false" />
  <arg name="base_cmd_vel_topic" default="cmd_vel" />
  <arg name="base_frame" default="$(arg mur_ns)/base_link" />
  <arg name="base_preferred_tcp_x" default="0.65" />
  <arg name="base_preferred_tcp_y" default="0.0" />
  <arg name="base_max_linear_velocity" default="0.08" />
  <arg name="base_max_angular_velocity" default="0.25" />
  <arg name="preposition_enabled" default="true" />
  <arg name="require_start_reached" default="true" />
  <arg name="start_position_tolerance" default="0.01" />
  <arg name="preposition_dwell_s" default="1.0" />

  <!-- Controller frame override is useful on the full MUR robot. -->
  <arg name="override_global_frame" default="true" />
  <arg name="auto_load_unsafe_velocity_controllers" default="false" />
  <arg name="auto_switch_to_velocity" default="false" />

  <include file="$(find cartesian_velocity_controller)/launch/mur620b_hw_single_arm_cartesian_velocity_controller.launch">
    <arg name="arm" value="$(arg arm)" />
    <arg name="mur_ns" value="$(arg mur_ns)" />
    <arg name="override_global_frame" value="$(arg override_global_frame)" />
    <arg name="auto_load_unsafe_velocity_controllers" value="$(arg auto_load_unsafe_velocity_controllers)" />
    <arg name="auto_switch_to_velocity" value="$(arg auto_switch_to_velocity)" />
  </include>

  <arg name="controller_suffix" value="l" if="$(eval arm == 'left')" />
  <arg name="controller_suffix" value="r" if="$(eval arm == 'right')" />

  <group ns="/$(arg mur_ns)">
    <node pkg="cartesian_velocity_controller"
          type="tcp_path_trajectory_manager.py"
          name="tcp_path_trajectory_manager"
          output="screen">
      <param name="path_file" value="$(arg path_file)" />
      <param name="frame_id" value="$(arg path_frame)" />
      <param name="speed" type="double" value="$(arg speed)" />
      <param name="rate" type="double" value="$(arg rate)" />
      <param name="blend_tolerance" type="double" value="$(arg blend_tolerance)" />
      <param name="max_linear_velocity" type="double" value="$(arg max_linear_velocity)" />
      <param name="max_linear_acceleration" type="double" value="$(arg max_linear_acceleration)" />
      <param name="max_linear_jerk" type="double" value="$(arg max_linear_jerk)" />
      <param name="publish_target_pose" type="bool" value="$(arg publish_target_pose)" />
      <param name="loop" type="bool" value="$(arg loop)" />
      <param name="start_paused" type="bool" value="$(arg start_paused)" />
      <param name="target_pose_topic" value="cartesian_velocity_controller_$(arg controller_suffix)/target_pose" />
      <param name="target_state_topic" value="cartesian_velocity_controller_$(arg controller_suffix)/target_state" />
      <param name="preposition/enabled" type="bool" value="$(arg preposition_enabled)" />
      <param name="preposition/require_start_reached" type="bool" value="$(arg require_start_reached)" />
      <param name="preposition/position_tolerance" type="double" value="$(arg start_position_tolerance)" />
      <param name="preposition/dwell_s" type="double" value="$(arg preposition_dwell_s)" />
      <param name="preposition/ee_state_topic" value="cartesian_velocity_controller_$(arg controller_suffix)/end_effector_state" />
      <param name="base_control/enabled" type="bool" value="$(arg base_control_enabled)" />
      <param name="base_control/cmd_vel_topic" value="$(arg base_cmd_vel_topic)" />
      <param name="base_control/base_frame" value="$(arg base_frame)" />
      <param name="base_control/preferred_tcp_x" type="double" value="$(arg base_preferred_tcp_x)" />
      <param name="base_control/preferred_tcp_y" type="double" value="$(arg base_preferred_tcp_y)" />
      <param name="base_control/max_linear_velocity" type="double" value="$(arg base_max_linear_velocity)" />
      <param name="base_control/max_angular_velocity" type="double" value="$(arg base_max_angular_velocity)" />
    </node>
  </group>
</launch>
