<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find mir_description)/urdf/general/common_properties.urdf.xacro" />

	<xacro:macro name="schunk_emh_rp_045" params="tool_link tf_prefix">
		
		<!-- top module -->
		<link name="${tf_prefix}/gripper">
			<xacro:cylinder_inertial mass="1.5" radius="0.32" length="0.128">
				<origin xyz="0 0 0.06" rpy="0 0 0" />
			</xacro:cylinder_inertial>
			<visual>
				<origin xyz="0 0 0.128" rpy="${-pi * 0.5} 0 0" />
				<geometry>
					<mesh filename="package://mur_description/meshes/visual/schunk_emh_rp_045.stl" scale="0.001 0.001 0.001"/>
				</geometry>
				<xacro:insert_block name="material_white" />
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://mur_description/meshes/collision/schunk_emh_rp_045.stl" scale="0.001 0.001 0.001" />
				</geometry>
			</collision>
		</link>

		<joint name="${tf_prefix}/gripper_joint" type="fixed">
			<origin xyz="0 0 0.0" rpy="0 0 0" />
			<parent link="${tool_link}" />
			<child link="${tf_prefix}/gripper" />
			<axis xyz="0 0 1" />
		</joint>
		
	</xacro:macro>

</robot>