<launch>
    <!-- Defining arguments for the mur launch --> 
    <arg name="launch_mir" default="true"/>
    <arg name="launch_ur_l" default="true"/>
    <arg name="launch_ur_r" default="true"/>
    <arg name="controllers_started" default="arm_controller joint_state_controller"/>
    <arg name="controllers_stopped" default="joint_group_vel_controller"/>  <!--Must not be empty-->
    <arg name="pose_filename" default="$(find mur_launch_hardware)/poses/my_poses.yaml"/>
    <arg name="tf_prefix" default="mur620b"/>
    <arg name="left_arm_group_name" default="UR10_l"/>
    <arg name="right_arm_group_name" default="UR10_r"/>
    <arg name="external_localization" default="true"/>
    <arg name="localization_type" default="mocap" />

    <!-- ur base calibration -->
    <arg name="ur_l_xyz" default="-0.00617375304968204 -0.00244890445606738 -0.058"/>
    <arg name="ur_l_rpy" default="0.0 0.0 -0.005862635332569227"/>
    <arg name="ur_r_xyz" default="-0.005024661116701745 0.002099082867471458 -0.058"/>
    <arg name="ur_r_rpy" default="0.0 0.0 3.136863644067947"/>
    
   
    <include file="$(find mur_launch_hardware)/launch/general_mur600.launch">
        <arg name="launch_mir" value="$(arg launch_mir)"/>
        <arg name="launch_ur_l" value="$(arg launch_ur_l)"/>
        <arg name="launch_ur_r" value="$(arg launch_ur_r)"/>
        <arg name="controllers_started" value="$(arg controllers_started)"/>
        <arg name="controllers_stopped" value="$(arg controllers_stopped)"/>
        <arg name="pose_filename" value="$(arg pose_filename)"/>
        <arg name="tf_prefix" value="$(arg tf_prefix)"/>
        <arg name="left_arm_group_name" value="$(arg left_arm_group_name)"/>
        <arg name="right_arm_group_name" value="$(arg right_arm_group_name)"/>
        <arg name="use_lift" value="false"/>
        <arg name="external_localization" value="$(arg external_localization)"/>
        <arg name="kinematic_config_l" value="$(find ur_launch_hardware)/calibration/calibration_UR10_19.yaml"/>
        <arg name="kinematic_config_r" value="$(find ur_launch_hardware)/calibration/calibration_UR10_17.yaml"/>
        <arg name="localization_type" value="$(arg localization_type)"/>
        <arg name="ur_l_xyz" value="$(arg ur_l_xyz)"/>
        <arg name="ur_l_rpy" value="$(arg ur_l_rpy)"/>
        <arg name="ur_r_xyz" value="$(arg ur_r_xyz)"/>
        <arg name="ur_r_rpy" value="$(arg ur_r_rpy)"/>
    </include>

    <!-- static transform_publisher node to complete the tf-tree -->
    <node pkg="tf" type="static_transform_publisher" name="dummy_lift_$(arg tf_prefix)_$(arg left_arm_group_name)" args="0 0 0 0 0 0 $(arg tf_prefix)/left_lift_bottom $(arg tf_prefix)/left_lift_top 100" />
    <node pkg="tf" type="static_transform_publisher" name="dummy_lift_$(arg tf_prefix)_$(arg right_arm_group_name)" args="0 0 0 0 0 0 $(arg tf_prefix)/right_lift_bottom $(arg tf_prefix)/right_lift_top 100" />

</launch>