<launch>
    <!-- Defining arguments for the mur launch --> 
    <arg name="launch_mir" default="true"/>
    <arg name="launch_ur_l" default="false"/>
    <arg name="launch_ur_r" default="false"/>
    <arg name="controllers_started" default="arm_controller joint_state_controller"/>
    <arg name="controllers_stopped" default="joint_group_vel_controller"/>  <!--Must not be empty-->
    <arg name="pose_filename" default="$(find mur_launch_hardware)/poses/my_poses.yaml"/>
    <arg name="tf_prefix" default="mur620a"/>
    <arg name="left_arm_group_name" default="UR10_l"/>
    <arg name="right_arm_group_name" default="UR10_r"/>
    <arg name="external_localization" default="false"/>
    <arg name="localization_type" default="mocap" />
   
    <include file="$(find mur_launch_hardware)/launch/general_mur600.launch">
        <arg name="launch_mir" value="$(arg launch_mir)"/>
        <arg name="launch_ur_l" value="$(arg launch_ur_l)"/>
        <arg name="launch_ur_r" value="$(arg launch_ur_r)"/>
        <arg name="controllers_started" value="$(arg controllers_started)"/>
        <arg name="controllers_stopped" value="$(arg controllers_stopped)"/>
        <arg name="pose_filename" value="$(arg pose_filename)"/>
        <arg name="tf_prefix" value="$(arg tf_prefix)"/>
        <arg name="left_arm_group_name" value="$(arg left_arm_group_name)"/>
        <arg name="right_arm_group_name" value="$(arg right_arm_group_name)"/>
        <arg name="use_lift" value="false"/>
        <arg name="external_localization" value="$(arg external_localization)"/>
        <arg name="kinematic_config_l" value="$(find ur_launch_hardware)/calibration/calibration_UR10_24.yaml"/>
        <arg name="kinematic_config_r" value="$(find ur_launch_hardware)/calibration/calibration_UR10_25.yaml"/>
        <arg name="localization_type" value="$(arg localization_type)"/>
    </include>


</launch>