<launch>
    <arg name="tf_prefix" default="mur"/>
    <arg name="mir_type" doc="This variable selects the robot that is loaded. Default: mir_200. Options: mir_100, mir_200" default="mir_200"/>
    <arg name="tf_mir_ur" default="0.35 -0.15 0.35 0 0 1 0"/>

    <!-- TODO: include robot_name in ns?  -->
    <include file="$(find mir_launch_hardware)/launch/$(arg mir_type).launch" ns="mur/mir">
        <arg name="tf_prefix" value="$(arg tf_prefix)/mir"/>    
    </include>

    <!-- Add a Transformation from Mir to ur for closed tf tree -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="mir_ur_transformer" 
        args="$(arg tf_mir_ur) $(arg tf_prefix)/mir/base_link $(arg tf_prefix)/ur/base_link" ns="mur" />


</launch>

   