<launch>
    <arg name="tf_prefix" default="mur"/>
    <arg name="pose_filename" default="poses/test.yaml"/>

    <include file="$(find mur_launch_hardware)/launch/mur.launch" pass_all_args="true">
        <arg name="controllers_started" value="franka_state_controller cartesian_controller"/> 
        <arg name="pose_filename" value="poses/mur_teached_poses.yaml"/>
    </include>
   
    <node name="ee_pose_marker" pkg="cartesian_move" type="ee_pose_marker.py" ns="mur/ur">
        <remap from="pose" to="cartesian_controller/target_pose"/>
        <param name="base_frame" value="$(arg tf_prefix)/ur/base_link"/>
        <param name="ee_frame" value="$(arg tf_prefix)/ur/tool0"/>
    </node>
</launch>