<launch>
  <arg name="tf_prefix" default=""/>
  <arg name="move_base" default="true"/>

  <include file="$(find mir_driver)/launch/mir_driver.launch" pass_all_args="true"/>

  <group if="$(eval move_base)">
    <remap from="move_base/cmd_vel" to="cmd_vel"/>
    <include file="$(find mir_navigation)/launch/move_base.launch" pass_all_args="true">
      <arg name="global_planner" value="GlobalPlanner"/>
      <arg name="local_planner" value="DWAPlannerROS"/>
    </include>
  </group>

</launch>
