<launch>
    <include file="$(find panda_hardware_helper)/launch/panda.launch">
        <arg name="controllers_started" default="franka_state_controller cartesian_controller"/>       
    </include>
    <node name="ee_pose_marker" pkg="cartesian_move" type="ee_pose_marker.py">
        <remap from="pose" to="cartesian_controller/equilibrium_pose"/>
        <param name="base_frame" value="panda_link0"/>
        <param name="ee_frame" value="panda_EE"/>
    </node>
</launch>