<launch>
    <arg name="tf_prefix" default=""/>

    <node   name="reconfigure_load_stiffness" pkg="dynamic_reconfigure" type="dynparam" 
                args="load cartesian_controller $(find panda_hardware_helper)/config/impedance_dyn.yaml" />

    <include file="$(find panda_hardware_helper)/launch/panda.launch" pass_all_args="true">
        <arg name="controllers_started" default="franka_state_controller six_dof_impedance_controller"/>       
    </include>

</launch>