<launch>
  <!-- Namespaces -->
  <arg name="master_ns" default="ur_master"/>
  <arg name="slave_ns" default="ur_slave"/>

  <!-- Frames (relative inside each namespace TF tree) -->
  <arg name="master_base_frame" default="base_link"/>
  <arg name="master_tcp_frame" default="tool0"/>
  <arg name="slave_base_frame" default="base_link"/>
  <arg name="slave_tcp_frame" default="tool0"/>

  <!-- Teleop topics (published by master, consumed by slave) -->
  <arg name="target_pose_topic" default="/$(arg master_ns)/target_pose"/>
  <arg name="feedforward_twist_topic" default="/$(arg master_ns)/feedforward_twist"/>

  <!-- Relabel-only: publish master state stamped as slave base frame -->
  <arg name="frame_id_override" default="$(arg slave_ns)/$(arg slave_base_frame)"/>

  <!-- Wrench topics -->
  <arg name="master_wrench_topic" default="/$(arg master_ns)/wrench"/>
  <arg name="slave_wrench_topic" default="/$(arg slave_ns)/wrench"/>

  <!-- Twist command topics (you will typically remap these to .../twist_controller/controller_input or through ur_twist_limiter) -->
  <arg name="master_cmd_topic" default="/$(arg master_ns)/twist_controller/command"/>
  <arg name="slave_cmd_topic" default="/$(arg slave_ns)/twist_controller/command"/>

  <!-- Master measured state publisher -->
  <group ns="$(arg master_ns)">
    <rosparam command="load"
              file="$(find teleoperation)/config/bilateral_master_measured_publisher.yaml"
              subst_value="true"/>
    <param name="base_frame" value="$(arg master_base_frame)"/>
    <param name="tcp_frame" value="$(arg master_tcp_frame)"/>
    <param name="frame_id_override" value="$(arg frame_id_override)"/>

    <node pkg="teleoperation"
          type="teleop_master_measured_state_publisher"
          name="teleop_master_measured_state_publisher"
          output="screen"/>
  </group>

  <!-- Master haptic controller -->
  <group ns="$(arg master_ns)">
    <rosparam command="load"
              file="$(find teleoperation)/config/bilateral_master_haptic.yaml"
              subst_value="true"/>

    <param name="master_wrench_topic" value="$(arg master_wrench_topic)"/>
    <param name="slave_wrench_topic" value="$(arg slave_wrench_topic)"/>
    <param name="wrench_target_frame" value="$(arg master_base_frame)"/>
    <param name="command_topic" value="$(arg master_cmd_topic)"/>

    <node pkg="teleoperation"
          type="teleop_master_haptic_controller"
          name="teleop_master_haptic_controller"
          output="screen"/>
  </group>

  <!-- Slave outer-loop -->
  <group ns="$(arg slave_ns)">
    <rosparam command="load"
              file="$(find teleoperation)/config/bilateral_slave_outer_loop.yaml"
              subst_value="true"/>

    <param name="base_frame" value="$(arg slave_base_frame)"/>
    <param name="tcp_frame" value="$(arg slave_tcp_frame)"/>
    <param name="wrench_topic" value="$(arg slave_wrench_topic)"/>
    <param name="command_topic" value="$(arg slave_cmd_topic)"/>
    <param name="target_pose_topic" value="$(arg target_pose_topic)"/>
    <param name="feedforward_twist_topic" value="$(arg feedforward_twist_topic)"/>

    <node pkg="teleoperation"
          type="teleop_slave_twist_outer_loop"
          name="teleop_slave_twist_outer_loop"
          output="screen"/>
  </group>
</launch>

