<launch>
  <arg name="robot_ns" default="mur620b" />
  <arg name="arm_ns" default="UR10_l" />

  <arg name="master_wrench_topic" default="/$(arg robot_ns)/$(arg arm_ns)/wrench" />
  <arg name="command_topic" default="/$(arg robot_ns)/$(arg arm_ns)/twist_controller/command_collision_free" />
  <arg name="wrench_source_frame_override" default="$(eval arg('robot_ns') + '/' + arg('arm_ns') + '/tool0')" />
  <arg name="wrench_target_frame" default="$(eval arg('robot_ns') + '/' + arg('arm_ns') + '/base_link_inertia')" />
  <arg name="use_latest_tf_for_wrench" default="true" />

  <node pkg="teleoperation"
        type="teleop_master_haptic_controller"
        name="teleop_master_haptic_controller"
        output="screen">
    <rosparam command="load"
              file="$(find teleoperation)/config/master_real_mur620b_ur10_l.yaml" />

    <!-- Runtime overrides for robot/arm-specific wiring -->
    <param name="master_wrench_topic" value="$(arg master_wrench_topic)" />
    <param name="slave_wrench_topic" value="" />
    <param name="coupling_wrench_topic" value="" />
    <param name="command_topic" value="$(arg command_topic)" />

    <!-- Force frame alignment: load-cell message header may report a non-existent TF frame. -->
    <param name="wrench_source_frame_override" value="$(arg wrench_source_frame_override)" />
    <param name="wrench_target_frame" value="$(arg wrench_target_frame)" />
    <param name="use_latest_tf_for_wrench" value="$(arg use_latest_tf_for_wrench)" />
  </node>
</launch>
