<launch>
  <arg name="master_robot_ns" default="mur620b" />
  <arg name="slave_robot_ns" default="mur620d" />
  <arg name="left_arm_ns" default="UR10_l" />
  <arg name="right_arm_ns" default="UR10_r" />
  <arg name="override_home_with_master_neutral" default="false" />

  <!-- Optional bimanual object coupling. When enabled, master target publishers write
       raw/intermediate topics and teleop_bimanual_object_coupling owns the final slave targets. -->
  <arg name="use_bimanual_object_coupling" default="true" />
  <arg name="bimanual_coupling_rate" default="500.0" />
  <arg name="bimanual_coupling_input_timeout_s" default="0.15" />
  <arg name="bimanual_coupling_enable_blend_s" default="0.4" />
  <arg name="bimanual_coupling_disable_blend_s" default="1.0" />
  <arg name="bimanual_coupling_feedback_fade_s" default="1.0" />
  <arg name="bimanual_coupling_average_orientation_mode" default="slerp" />
  <arg name="coupling_force_reflection_scale_topic" default="/teleop_bimanual_object_coupling/force_reflection_scale" />
  <arg name="coupling_active_topic" default="/teleop_bimanual_object_coupling/active" />

  <!-- Optional: zero/tare all UR10e FT sensors at startup -->
  <arg name="do_ur10e_zero_loadcell_master_left" default="true" />
  <arg name="do_ur10e_zero_loadcell_master_right" default="true" />
  <arg name="do_ur10e_zero_loadcell_slave_left" default="true" />
  <arg name="do_ur10e_zero_loadcell_slave_right" default="true" />
  <arg name="ur10e_zero_loadcell_delay_s" default="0.5" />
  <arg name="ur10e_zero_loadcell_wait_timeout_s" default="10.0" />

  <!-- LEFT pair: mur620b/UR10_l master -> mur620d/UR10_l slave -->
  <arg name="left_master_wrench_topic" default="/$(arg master_robot_ns)/$(arg left_arm_ns)/wrench" />
  <arg name="left_slave_wrench_topic" default="/$(arg slave_robot_ns)/$(arg left_arm_ns)/wrench" />
  <arg name="left_slave_wrench_topic_for_master" default="$(arg left_slave_wrench_topic)" />
  <arg name="left_master_command_topic" default="/$(arg master_robot_ns)/$(arg left_arm_ns)/twist_controller/command_collision_free" />
  <arg name="left_slave_command_topic" default="/$(arg slave_robot_ns)/$(arg left_arm_ns)/twist_controller/command_collision_free" />
  <arg name="left_master_tool_frame" default="$(eval arg('master_robot_ns') + '/' + arg('left_arm_ns') + '/tool0')" />
  <arg name="left_master_base_inertia_frame" default="$(eval arg('master_robot_ns') + '/' + arg('left_arm_ns') + '/base_link_inertia')" />
  <arg name="left_slave_tool_frame" default="$(eval arg('slave_robot_ns') + '/' + arg('left_arm_ns') + '/tool0')" />
  <arg name="left_slave_base_inertia_frame" default="$(eval arg('slave_robot_ns') + '/' + arg('left_arm_ns') + '/base_link_inertia')" />
  <arg name="left_master_to_slave_rotation_rpy" default="0.0, 0.0, 0.2305469980736988" />
  <arg name="left_slave_to_master_rotation_rpy" default="0.0, 0.0, -0.2305469980736988" />
  <arg name="left_home_position" default="-0.806894581060263, -0.2898162547907234, -0.050432885739712885" />
  <arg name="left_home_orientation_xyzw" default="0.6289655351530469, 0.777346636545271, -0.011530064095607334, 0.00127273852268894" />
  <arg name="left_motion_master_neutral_position" default="-0.840, 0.060, -0.117" />
  <arg name="left_motion_master_neutral_orientation_xyzw" default="0.714, 0.701, -0.010, -0.001" />
  <arg name="left_effective_home_position"
       default="$(eval arg('left_motion_master_neutral_position') if arg('override_home_with_master_neutral') == 'true' else arg('left_home_position'))" />
  <arg name="left_effective_home_orientation_xyzw"
       default="$(eval arg('left_motion_master_neutral_orientation_xyzw') if arg('override_home_with_master_neutral') == 'true' else arg('left_home_orientation_xyzw'))" />
  <arg name="left_target_pose_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/left/target_pose')" />
  <arg name="left_feedforward_twist_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/left/feedforward_twist')" />
  <arg name="left_raw_target_pose_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/left/raw_target_pose')" />
  <arg name="left_raw_feedforward_twist_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/left/raw_feedforward_twist')" />
  <arg name="left_master_target_pose_topic"
       default="$(eval arg('left_raw_target_pose_topic') if arg('use_bimanual_object_coupling') else arg('left_target_pose_topic'))" />
  <arg name="left_master_feedforward_twist_topic"
       default="$(eval arg('left_raw_feedforward_twist_topic') if arg('use_bimanual_object_coupling') else arg('left_feedforward_twist_topic'))" />
  <arg name="left_slave_actual_pose_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/left/slave_actual_pose')" />
  <arg name="left_home_return_status_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/left/home_return/status')" />
  <arg name="left_master_filtered_master_wrench_topic" default="$(eval '/teleop_debug/' + arg('master_robot_ns') + '_' + arg('left_arm_ns') + '/master_wrench_filtered')" />
  <arg name="left_master_filtered_slave_wrench_topic" default="$(eval '/teleop_debug/' + arg('master_robot_ns') + '_' + arg('left_arm_ns') + '/slave_wrench_filtered')" />
  <arg name="left_master_filtered_coupling_wrench_topic" default="$(eval '/teleop_debug/' + arg('master_robot_ns') + '_' + arg('left_arm_ns') + '/coupling_wrench_filtered')" />
  <arg name="left_slave_filtered_wrench_topic" default="$(eval '/teleop_debug/' + arg('slave_robot_ns') + '_' + arg('left_arm_ns') + '/slave_wrench_filtered')" />

  <!-- RIGHT pair: mur620b/UR10_r master -> mur620d/UR10_r slave -->
  <arg name="right_master_wrench_topic" default="/$(arg master_robot_ns)/$(arg right_arm_ns)/wrench" />
  <arg name="right_slave_wrench_topic" default="/$(arg slave_robot_ns)/$(arg right_arm_ns)/wrench" />
  <arg name="right_slave_wrench_topic_for_master" default="$(arg right_slave_wrench_topic)" />
  <arg name="right_master_command_topic" default="/$(arg master_robot_ns)/$(arg right_arm_ns)/twist_controller/command_collision_free" />
  <arg name="right_slave_command_topic" default="/$(arg slave_robot_ns)/$(arg right_arm_ns)/twist_controller/command_collision_free" />
  <arg name="right_master_tool_frame" default="$(eval arg('master_robot_ns') + '/' + arg('right_arm_ns') + '/tool0')" />
  <arg name="right_master_base_inertia_frame" default="$(eval arg('master_robot_ns') + '/' + arg('right_arm_ns') + '/base_link_inertia')" />
  <arg name="right_slave_tool_frame" default="$(eval arg('slave_robot_ns') + '/' + arg('right_arm_ns') + '/tool0')" />
  <arg name="right_slave_base_inertia_frame" default="$(eval arg('slave_robot_ns') + '/' + arg('right_arm_ns') + '/base_link_inertia')" />
  <arg name="right_master_to_slave_rotation_rpy" default="0.0, 0.0, 0.22812032433233884" />
  <arg name="right_slave_to_master_rotation_rpy" default="0.0, 0.0, -0.22812032433233884" />
  <arg name="right_home_position" default="0.8605060709826873, 0.1163925862675045, -0.021583319483116287" />
  <arg name="right_home_orientation_xyzw" default="-0.7766724367866567, 0.629871644406543, 0.005840862903921362, -0.0027425953058616568" />
  <arg name="right_motion_master_neutral_position" default="0.838, 0.049, -0.126" />
  <arg name="right_motion_master_neutral_orientation_xyzw" default="-0.698, 0.716, 0.005, -0.008" />
  <arg name="right_effective_home_position"
       default="$(eval arg('right_motion_master_neutral_position') if arg('override_home_with_master_neutral') == 'true' else arg('right_home_position'))" />
  <arg name="right_effective_home_orientation_xyzw"
       default="$(eval arg('right_motion_master_neutral_orientation_xyzw') if arg('override_home_with_master_neutral') == 'true' else arg('right_home_orientation_xyzw'))" />
  <arg name="right_target_pose_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/right/target_pose')" />
  <arg name="right_feedforward_twist_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/right/feedforward_twist')" />
  <arg name="right_raw_target_pose_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/right/raw_target_pose')" />
  <arg name="right_raw_feedforward_twist_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/right/raw_feedforward_twist')" />
  <arg name="right_master_target_pose_topic"
       default="$(eval arg('right_raw_target_pose_topic') if arg('use_bimanual_object_coupling') else arg('right_target_pose_topic'))" />
  <arg name="right_master_feedforward_twist_topic"
       default="$(eval arg('right_raw_feedforward_twist_topic') if arg('use_bimanual_object_coupling') else arg('right_feedforward_twist_topic'))" />
  <arg name="right_slave_actual_pose_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/right/slave_actual_pose')" />
  <arg name="right_home_return_status_topic" default="$(eval '/teleop/' + arg('master_robot_ns') + '_to_' + arg('slave_robot_ns') + '/right/home_return/status')" />
  <arg name="right_master_filtered_master_wrench_topic" default="$(eval '/teleop_debug/' + arg('master_robot_ns') + '_' + arg('right_arm_ns') + '/master_wrench_filtered')" />
  <arg name="right_master_filtered_slave_wrench_topic" default="$(eval '/teleop_debug/' + arg('master_robot_ns') + '_' + arg('right_arm_ns') + '/slave_wrench_filtered')" />
  <arg name="right_master_filtered_coupling_wrench_topic" default="$(eval '/teleop_debug/' + arg('master_robot_ns') + '_' + arg('right_arm_ns') + '/coupling_wrench_filtered')" />
  <arg name="right_slave_filtered_wrench_topic" default="$(eval '/teleop_debug/' + arg('slave_robot_ns') + '_' + arg('right_arm_ns') + '/slave_wrench_filtered')" />

  <!-- Zero/tare FT sensors -->
  <node pkg="teleoperation"
        type="ur_zero_ftsensor.py"
        name="ur10e_zero_loadcell_master_left"
        output="screen"
        required="false"
        if="$(arg do_ur10e_zero_loadcell_master_left)">
    <param name="service" value="/$(arg master_robot_ns)/$(arg left_arm_ns)/ur_hardware_interface/zero_ftsensor" />
    <param name="delay_s" value="$(arg ur10e_zero_loadcell_delay_s)" />
    <param name="wait_timeout_s" value="$(arg ur10e_zero_loadcell_wait_timeout_s)" />
  </node>

  <node pkg="teleoperation"
        type="ur_zero_ftsensor.py"
        name="ur10e_zero_loadcell_master_right"
        output="screen"
        required="false"
        if="$(arg do_ur10e_zero_loadcell_master_right)">
    <param name="service" value="/$(arg master_robot_ns)/$(arg right_arm_ns)/ur_hardware_interface/zero_ftsensor" />
    <param name="delay_s" value="$(arg ur10e_zero_loadcell_delay_s)" />
    <param name="wait_timeout_s" value="$(arg ur10e_zero_loadcell_wait_timeout_s)" />
  </node>

  <node pkg="teleoperation"
        type="ur_zero_ftsensor.py"
        name="ur10e_zero_loadcell_slave_left"
        output="screen"
        required="false"
        if="$(arg do_ur10e_zero_loadcell_slave_left)">
    <param name="service" value="/$(arg slave_robot_ns)/$(arg left_arm_ns)/ur_hardware_interface/zero_ftsensor" />
    <param name="delay_s" value="$(arg ur10e_zero_loadcell_delay_s)" />
    <param name="wait_timeout_s" value="$(arg ur10e_zero_loadcell_wait_timeout_s)" />
  </node>

  <node pkg="teleoperation"
        type="ur_zero_ftsensor.py"
        name="ur10e_zero_loadcell_slave_right"
        output="screen"
        required="false"
        if="$(arg do_ur10e_zero_loadcell_slave_right)">
    <param name="service" value="/$(arg slave_robot_ns)/$(arg right_arm_ns)/ur_hardware_interface/zero_ftsensor" />
    <param name="delay_s" value="$(arg ur10e_zero_loadcell_delay_s)" />
    <param name="wait_timeout_s" value="$(arg ur10e_zero_loadcell_wait_timeout_s)" />
  </node>

  <!-- Bimanual object coupling:
       - independent mode: forwards raw master-generated targets to the final slave topics;
       - coupled mode: the averaged master target frame drives a rigid virtual object between slave TCPs.
       Services:
         /teleop_bimanual_object_coupling/enable
         /teleop_bimanual_object_coupling/disable -->
  <node pkg="teleoperation"
        type="teleop_bimanual_object_coupling"
        name="teleop_bimanual_object_coupling"
        output="screen"
        if="$(arg use_bimanual_object_coupling)">
    <param name="common_frame" value="$(arg left_slave_base_inertia_frame)" />
    <param name="left_output_frame" value="$(arg left_slave_base_inertia_frame)" />
    <param name="right_output_frame" value="$(arg right_slave_base_inertia_frame)" />
    <param name="left_slave_tcp_frame" value="$(arg left_slave_tool_frame)" />
    <param name="right_slave_tcp_frame" value="$(arg right_slave_tool_frame)" />

    <param name="left_input_pose_topic" value="$(arg left_raw_target_pose_topic)" />
    <param name="left_input_twist_topic" value="$(arg left_raw_feedforward_twist_topic)" />
    <param name="right_input_pose_topic" value="$(arg right_raw_target_pose_topic)" />
    <param name="right_input_twist_topic" value="$(arg right_raw_feedforward_twist_topic)" />

    <param name="left_output_pose_topic" value="$(arg left_target_pose_topic)" />
    <param name="left_output_twist_topic" value="$(arg left_feedforward_twist_topic)" />
    <param name="right_output_pose_topic" value="$(arg right_target_pose_topic)" />
    <param name="right_output_twist_topic" value="$(arg right_feedforward_twist_topic)" />

    <param name="rate" value="$(arg bimanual_coupling_rate)" />
    <param name="input_timeout_s" value="$(arg bimanual_coupling_input_timeout_s)" />
    <param name="enable_blend_duration_s" value="$(arg bimanual_coupling_enable_blend_s)" />
    <param name="disable_blend_duration_s" value="$(arg bimanual_coupling_disable_blend_s)" />
    <param name="feedback_fade_duration_s" value="$(arg bimanual_coupling_feedback_fade_s)" />
    <param name="average_orientation_mode" value="$(arg bimanual_coupling_average_orientation_mode)" />
    <param name="publish_debug_frames" value="true" />
  </node>

  <!-- MASTER LEFT: publish targets for slave left -->
  <node pkg="teleoperation"
        type="teleop_master_haptic_controller"
        name="teleop_master_haptic_controller_left"
        output="screen">
    <rosparam command="load"
              file="$(find teleoperation)/config/master_real_mur620b_ur10_l.yaml" />

    <param name="master_wrench_topic" value="$(arg left_master_wrench_topic)" />
    <param name="slave_wrench_topic" value="$(arg left_slave_wrench_topic_for_master)" />
    <param name="coupling_wrench_topic" value="" />
    <param name="command_topic" value="$(arg left_master_command_topic)" />

    <param name="wrench_source_frame_override" value="$(arg left_master_tool_frame)" />
    <param name="wrench_target_frame" value="$(arg left_master_base_inertia_frame)" />
    <param name="use_latest_tf_for_wrench" value="true" />

    <param name="publish_slave_targets" value="true" />
    <param name="slave_target_pose_topic" value="$(arg left_master_target_pose_topic)" />
    <param name="slave_feedforward_twist_topic" value="$(arg left_master_feedforward_twist_topic)" />
    <param name="force_reflection_gate_topic" value="$(arg coupling_force_reflection_scale_topic)" if="$(arg use_bimanual_object_coupling)" />
    <param name="home_return_disable_topic" value="$(arg coupling_active_topic)" if="$(arg use_bimanual_object_coupling)" />

    <!-- Keep the tested frame-override logic: publish master-left pose in master-left base,
         but label the message as slave-left base so the numerically identical arm can consume it directly. -->
    <param name="slave_base_frame" value="$(arg left_master_base_inertia_frame)" />
    <param name="slave_tcp_frame" value="$(arg left_master_tool_frame)" />
    <param name="slave_frame_id_override" value="$(arg left_slave_base_inertia_frame)" />
    <rosparam subst_value="true" param="slave_pose_twist_rotation_rpy">[$(arg left_master_to_slave_rotation_rpy)]</rosparam>
    <rosparam subst_value="true" param="motion_scaling/master_neutral_position">[$(arg left_motion_master_neutral_position)]</rosparam>
    <rosparam subst_value="true" param="motion_scaling/master_neutral_orientation_xyzw">[$(arg left_motion_master_neutral_orientation_xyzw)]</rosparam>
    <rosparam subst_value="true" param="home_return/target_position">[$(arg left_effective_home_position)]</rosparam>
    <rosparam subst_value="true" param="home_return/target_orientation_xyzw">[$(arg left_effective_home_orientation_xyzw)]</rosparam>
    <param name="home_return/status_topic" value="$(arg left_home_return_status_topic)" />

    <param name="slave_actual_pose_topic" value="$(arg left_slave_actual_pose_topic)" />
    <param name="filtered_master_wrench_topic" value="$(arg left_master_filtered_master_wrench_topic)" />
    <param name="filtered_slave_wrench_topic" value="$(arg left_master_filtered_slave_wrench_topic)" />
    <param name="filtered_coupling_wrench_topic" value="$(arg left_master_filtered_coupling_wrench_topic)" />
  </node>

  <!-- SLAVE LEFT: consume targets from master left -->
  <node pkg="teleoperation"
        type="teleop_slave_twist_outer_loop"
        name="teleop_slave_twist_outer_loop_left"
        output="screen">
    <rosparam command="load"
              file="$(find teleoperation)/config/slave_real_mur620b_ur10_r.yaml" />

    <param name="base_frame" value="$(arg left_slave_base_inertia_frame)" />
    <param name="tcp_frame" value="$(arg left_slave_tool_frame)" />
    <param name="wrench_topic" value="$(arg left_slave_wrench_topic)" />
    <param name="command_topic" value="$(arg left_slave_command_topic)" />
    <param name="target_pose_topic" value="$(arg left_target_pose_topic)" />
    <param name="feedforward_twist_topic" value="$(arg left_feedforward_twist_topic)" />
    <param name="wrench_source_frame_override" value="$(arg left_slave_tool_frame)" />
    <param name="use_latest_tf_for_wrench" value="true" />
    <param name="publish_filtered_wrench_debug" value="true" />

    <param name="publish_master_feedback" value="true" />
    <param name="master_feedback_pose_topic" value="$(arg left_slave_actual_pose_topic)" />
    <param name="master_feedback_frame_override" value="$(arg left_master_base_inertia_frame)" />
    <rosparam subst_value="true" param="master_feedback_rotation_rpy">[$(arg left_slave_to_master_rotation_rpy)]</rosparam>
    <param name="filtered_wrench_topic" value="$(arg left_slave_filtered_wrench_topic)" />
  </node>

  <!-- MASTER RIGHT: publish targets for slave right -->
  <node pkg="teleoperation"
        type="teleop_master_haptic_controller"
        name="teleop_master_haptic_controller_right"
        output="screen">
    <rosparam command="load"
              file="$(find teleoperation)/config/master_real_mur620b_ur10_l.yaml" />

    <param name="master_wrench_topic" value="$(arg right_master_wrench_topic)" />
    <param name="slave_wrench_topic" value="$(arg right_slave_wrench_topic_for_master)" />
    <param name="coupling_wrench_topic" value="" />
    <param name="command_topic" value="$(arg right_master_command_topic)" />

    <param name="wrench_source_frame_override" value="$(arg right_master_tool_frame)" />
    <param name="wrench_target_frame" value="$(arg right_master_base_inertia_frame)" />
    <param name="use_latest_tf_for_wrench" value="true" />

    <param name="publish_slave_targets" value="true" />
    <param name="slave_target_pose_topic" value="$(arg right_master_target_pose_topic)" />
    <param name="slave_feedforward_twist_topic" value="$(arg right_master_feedforward_twist_topic)" />
    <param name="force_reflection_gate_topic" value="$(arg coupling_force_reflection_scale_topic)" if="$(arg use_bimanual_object_coupling)" />
    <param name="home_return_disable_topic" value="$(arg coupling_active_topic)" if="$(arg use_bimanual_object_coupling)" />

    <!-- Same tested frame-override logic for the right arm pair. -->
    <param name="slave_base_frame" value="$(arg right_master_base_inertia_frame)" />
    <param name="slave_tcp_frame" value="$(arg right_master_tool_frame)" />
    <param name="slave_frame_id_override" value="$(arg right_slave_base_inertia_frame)" />
    <rosparam subst_value="true" param="slave_pose_twist_rotation_rpy">[$(arg right_master_to_slave_rotation_rpy)]</rosparam>
    <rosparam subst_value="true" param="motion_scaling/master_neutral_position">[$(arg right_motion_master_neutral_position)]</rosparam>
    <rosparam subst_value="true" param="motion_scaling/master_neutral_orientation_xyzw">[$(arg right_motion_master_neutral_orientation_xyzw)]</rosparam>
    <rosparam subst_value="true" param="home_return/target_position">[$(arg right_effective_home_position)]</rosparam>
    <rosparam subst_value="true" param="home_return/target_orientation_xyzw">[$(arg right_effective_home_orientation_xyzw)]</rosparam>
    <param name="home_return/status_topic" value="$(arg right_home_return_status_topic)" />

    <param name="slave_actual_pose_topic" value="$(arg right_slave_actual_pose_topic)" />
    <param name="filtered_master_wrench_topic" value="$(arg right_master_filtered_master_wrench_topic)" />
    <param name="filtered_slave_wrench_topic" value="$(arg right_master_filtered_slave_wrench_topic)" />
    <param name="filtered_coupling_wrench_topic" value="$(arg right_master_filtered_coupling_wrench_topic)" />
  </node>

  <!-- SLAVE RIGHT: consume targets from master right -->
  <node pkg="teleoperation"
        type="teleop_slave_twist_outer_loop"
        name="teleop_slave_twist_outer_loop_right"
        output="screen">
    <rosparam command="load"
              file="$(find teleoperation)/config/slave_real_mur620b_ur10_r.yaml" />

    <param name="base_frame" value="$(arg right_slave_base_inertia_frame)" />
    <param name="tcp_frame" value="$(arg right_slave_tool_frame)" />
    <param name="wrench_topic" value="$(arg right_slave_wrench_topic)" />
    <param name="command_topic" value="$(arg right_slave_command_topic)" />
    <param name="target_pose_topic" value="$(arg right_target_pose_topic)" />
    <param name="feedforward_twist_topic" value="$(arg right_feedforward_twist_topic)" />
    <param name="wrench_source_frame_override" value="$(arg right_slave_tool_frame)" />
    <param name="use_latest_tf_for_wrench" value="true" />
    <param name="publish_filtered_wrench_debug" value="true" />

    <param name="publish_master_feedback" value="true" />
    <param name="master_feedback_pose_topic" value="$(arg right_slave_actual_pose_topic)" />
    <param name="master_feedback_frame_override" value="$(arg right_master_base_inertia_frame)" />
    <rosparam subst_value="true" param="master_feedback_rotation_rpy">[$(arg right_slave_to_master_rotation_rpy)]</rosparam>
    <param name="filtered_wrench_topic" value="$(arg right_slave_filtered_wrench_topic)" />
  </node>
</launch>
