<launch>
    <arg name="tf_prefix" default="miranda"/>

    <!-- Bringup   the miranda base  -->
    <include file="$(find miranda_hardware_helper)/launch/miranda_base.launch" pass_all_args="true"/>

    <!-- Bringup the panda and configure it for working in combination with mir -->
    <include file="$(find panda_hardware_helper)/launch/panda_cartesian_interactive.launch" ns="miranda/panda" pass_all_args="true">        
        <arg name="tf_prefix" value="$(arg tf_prefix)/panda"/>        
    </include>

</launch>