<launch>
   <arg name="load_gripper" value="true"/>
    <param if="$(eval  arg('load_gripper'))" name="panda/robot_description" command="$(find xacro)/xacro '$(find franka_description)/robots/panda_arm_hand.urdf.xacro'"/>
    <param if="$(eval not arg('load_gripper'))" name="panda/robot_description" command="$(find xacro)/xacro '$(find franka_description)/robots/panda_arm.urdf.xacro'"/>

    <include file="$(find panda_moveit_config)/launch/move_group.launch" ns="panda" pass_all_args="true">
     </include>


   <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find miranda_visualisation)/rviz/miranda_movit.rviz"/>


</launch>