<launch>
    <arg name="robot_name" default="miranda"/>      
    <arg name="controllers_started" default="franka_state_controller"/>
    <arg name="controllers_stopped" default=""/>
    <arg name="pose_filename" default="$(find miranda_hardware_helper)/poses/my_poses.yaml"/>

    <include file="$(find miranda_hardware_helper)/launch/miranda_base_common.launch" ns="$(arg robot_name)" pass_all_args="true">
        <arg name="tf_prefix" value="$(arg robot_name)"/>
    </include>
</launch>