<launch>
    <arg name="controller_running" default="false"/>

    <node unless="$(eval controller_running)" respawn="true" pkg="joy" type="joy_node"  name="ps4_joy">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.12"/>
        <param name="coalesce_interval" value="0.001"/>
    </node>

    <node name="miranda_ps4_controller" type="ps4_diffdrive.py" pkg="ps4_controller" ns="miranda/mir" output="screen">
        <remap from="joy" to="/joy"/>
        <param name="rot_incr" value="0.1"/>
        <param name="trans_incr" value="0.1"/>
        <param name="rotation" value="0.2"/>
        <param name="translation" value="0.1"/>
    </node>
</launch>