<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >
	<!-- UR5 -->
	<xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

	<!-- ur5 -->
	<xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

	<!-- arm -->
	<xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml"/>
	<xacro:ur5_robot prefix="ur/" joint_limited="false"
		transmission_hw_interface="$(arg transmission_hw_interface)"
		kinematics_file="${load_yaml('$(arg kinematics_config)')}"
	/>

</robot>
