<launch>
    <!-- Defining arguments for the panda launch -->
    <arg name="robot_ip" default="panda"/> 
    <arg name="load_gripper" default="true"/>
    <arg name="controllers_started" default="franka_state_controller"/>
    <arg name="controllers_stopped" default=""/>

    <!-- Bringup the panda and configure it for working in combination with mir -->
    <remap from="/equilibrium_pose" to="/panda/equilibrium_pose" />
    <include file="$(find miranda_hardware_helper)/launch/panda.launch" ns="panda" pass_all_args="true"/>

    <!-- Add a Transformation from Mir to panda for closed tf tree -->
    <node pkg="tf" type="static_transform_publisher" name="mir_panda_transformer" args="0.35 0.15 0.35 0 0 0 1 base_link panda_link0 100" />

    <!-- Bringup the mir in its own namespace -->
    <include file="$(find mir_driver)/launch/mir.launch" ns="mir"/>
</launch>