<launch>
    <!-- Defining arguments for the panda launch -->
    <arg name="controllers_started" default="franka_state_controller cartesian_impedance_controller"/>
    <arg name="tf_prefix" default="miranda"/>
   
    <include file="$(find miranda_hardware_helper)/launch/miranda.launch">
        <arg name="move_base" value="true"/>
        <arg name="tf_prefix" default="miranda"/>
    </include>
</launch>