<launch>
    <arg name="tf_prefix" default="" doc="Prefix used for robot tf frames" /> <!-- used in the config files -->
    <arg name="global_planner" default="GlobalPlanner"  />
    <arg name="local_planner" default="DWAPlannerROS" />

    <arg if="$(eval tf_prefix=='')" name="tf_prefix_slashed" value="" /> <!--Important for proper substitution (empty tf_prefix must not lead to leading slashes-->
    <arg unless="$(eval tf_prefix=='')" name="tf_prefix_slashed" value="$(arg tf_prefix)/" /> <!--Important for proper substitution (empty tf_prefix must not lead to leading slashes-->

    <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen">
        <param name="tf_timeout" value="1.5"/>
        <param name="planner_max_retries" value="3"/>
        <!-- <param name="SBPLLatticePlanner/primitive_filename" value="$(find mir_navigation)/mprim/unicycle_highcost_5cm.mprim" /> -->
        <rosparam file="$(find mur205_navigation)/config/move_base_flex_common_params.yaml" command="load" subst_value="true"/>
        <rosparam file="$(find mir_navigation)/config/global_planner_params.yaml" command="load" />
        <rosparam file="$(find mur205_navigation)/config/local_planner_params.yaml" command="load" subst_value="true"/>
        <rosparam file="$(find mir_navigation)/config/recovery_behaviors.yaml" command="load" />
        <rosparam file="$(find mur205_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="true"/>
        <rosparam file="$(find mur205_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" subst_value="true"/>
        <rosparam file="$(find mir_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find mur205_navigation)/config/local_costmap_params.yaml" command="load" subst_value="true"/>
  
        <remap from="cmd_vel" to="mobile_base_controller/cmd_vel"/>
        <remap from="odom" to="mobile_base_controller/odom"/>
        <remap from="map" to="/map" />
    </node>
</launch>