<launch>

    <group ns="mur620/UR10_r">
        <arg name="wrench_topic" default="/mur1/UR10_r/wrench"/>
        <arg name="target_pose_topic" default="target_pose"/>


        <node name="admittance_control" pkg="mur_control" type="admittance_control.py" output="screen">
            <param name="wrench_topic" value="$(arg wrench_topic)" />
            <param name="target_pose_topic" value="$(arg target_pose_topic)" />
        </node>
    </group>

</launch>