<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find mir_description)/urdf/general/common_properties.urdf.xacro" />

	<xacro:macro name="schunk_emh_rp_045" params="tool_link tf_prefix">
		
		<link name="${tf_prefix}/gripper">
			<xacro:cylinder_inertial mass="1.5" radius="0.32" length="0.128">
				<origin xyz="0 0 0.06" rpy="0 0 0" />
			</xacro:cylinder_inertial>
		</link>

		<joint name="${tf_prefix}/gripper_joint" type="fixed">
			<origin xyz="0 0 0.0" rpy="${-pi * 0.5} ${-pi * 0.5} ${pi}" />
			<parent link="${tool_link}" />
			<child link="${tf_prefix}/gripper" />
			<axis xyz="0 0 1" />
			<limit effort="1000" lower="-0.0001" upper="0.0001" velocity="10"/>
		</joint>

		<link name="${tf_prefix}/tcp">
			<xacro:cylinder_inertial mass="0.01" radius="0.32" length="0.128">
				<origin xyz="0 0 0.06" rpy="0 0 0" />
			</xacro:cylinder_inertial>
			<visual>
				<origin xyz="0 -0.128 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://schunk_emh_rp_45/meshes/visual/schunk_emh_rp_045.stl" scale="0.001 0.001 0.001"/>
				</geometry>
				<xacro:insert_block name="material_white" />
			</visual>
			<collision>
				<origin xyz="0 -0.128 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://schunk_emh_rp_45/meshes/collision/schunk_emh_rp_045.stl" scale="0.001 0.001 0.001" />
				</geometry>
			</collision>
		</link>

		<gazebo reference="${tf_prefix}/tcp">
			<material>Gazebo/DarkGrey</material>
		</gazebo>

		<!-- the ft_sensor plugin will not work with fixed joints. This is why a prismatic joint with very small limits is added -->
		<joint name="${tf_prefix}/tcp_joint" type="prismatic">
			<origin xyz="0 0 0.0" rpy="0 0 0" />
			<parent link="${tf_prefix}/gripper" />
			<child link="${tf_prefix}/tcp" />
			<axis xyz="0 0 1" />
   			<limit effort="1000" lower="-0.0001" upper="0.0001" velocity="10"/>
		</joint>
		

		<gazebo reference="${tf_prefix}/tcp_joint">
   			<provideFeedback>true</provideFeedback>
  		</gazebo>

		<!-- The ft_sensor plugin  -->
		<gazebo>
			<plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
			<updateRate>500.0</updateRate>
			<topicName>${tf_prefix}/wrench</topicName> 
			<jointName>${tf_prefix}/tcp_joint</jointName>
			<noise>
			<type>gaussian</type>
			<mean>0.0</mean>
			<stddev>0.0</stddev> <!-- change this to simulate noise --> 
			</noise>
			</plugin>
		</gazebo>
		
	</xacro:macro>

</robot>