<launch>
  <!-- Common arm namespaces -->
  <arg name="left_arm_ns" default="UR10_l"/>
  <arg name="right_arm_ns" default="UR10_r"/>

  <!-- Robot slots: set namespace and enable desired arms -->
  <arg name="robot_1_ns" default="mur620b"/>
  <arg name="enable_robot_1_left" default="true"/>
  <arg name="enable_robot_1_right" default="true"/>

  <arg name="robot_2_ns" default="mur620c"/>
  <arg name="enable_robot_2_left" default="false"/>
  <arg name="enable_robot_2_right" default="false"/>

  <arg name="robot_3_ns" default="mur620d"/>
  <arg name="enable_robot_3_left" default="true"/>
  <arg name="enable_robot_3_right" default="true"/>

  <!-- Robot 1 -->
  <include file="$(find mur_bringup)/launch/ur_enable.launch" if="$(arg enable_robot_1_left)">
    <arg name="node_name" value="UR_enable_robot_1_left"/>
    <arg name="robot_ns" value="$(arg robot_1_ns)"/>
    <arg name="arm_ns" value="$(arg left_arm_ns)"/>
  </include>
  <include file="$(find mur_bringup)/launch/ur_enable.launch" if="$(arg enable_robot_1_right)">
    <arg name="node_name" value="UR_enable_robot_1_right"/>
    <arg name="robot_ns" value="$(arg robot_1_ns)"/>
    <arg name="arm_ns" value="$(arg right_arm_ns)"/>
  </include>

  <!-- Robot 2 -->
  <include file="$(find mur_bringup)/launch/ur_enable.launch" if="$(arg enable_robot_2_left)">
    <arg name="node_name" value="UR_enable_robot_2_left"/>
    <arg name="robot_ns" value="$(arg robot_2_ns)"/>
    <arg name="arm_ns" value="$(arg left_arm_ns)"/>
  </include>
  <include file="$(find mur_bringup)/launch/ur_enable.launch" if="$(arg enable_robot_2_right)">
    <arg name="node_name" value="UR_enable_robot_2_right"/>
    <arg name="robot_ns" value="$(arg robot_2_ns)"/>
    <arg name="arm_ns" value="$(arg right_arm_ns)"/>
  </include>

  <!-- Robot 3 -->
  <include file="$(find mur_bringup)/launch/ur_enable.launch" if="$(arg enable_robot_3_left)">
    <arg name="node_name" value="UR_enable_robot_3_left"/>
    <arg name="robot_ns" value="$(arg robot_3_ns)"/>
    <arg name="arm_ns" value="$(arg left_arm_ns)"/>
  </include>
  <include file="$(find mur_bringup)/launch/ur_enable.launch" if="$(arg enable_robot_3_right)">
    <arg name="node_name" value="UR_enable_robot_3_right"/>
    <arg name="robot_ns" value="$(arg robot_3_ns)"/>
    <arg name="arm_ns" value="$(arg right_arm_ns)"/>
  </include>
</launch>
